<h2 class="page-header">Search Book</h2>
<!--Form action-->
<form action="/books" method="GET">
    <div class="form-row">
        <div class="form-item">
            <label>Title</label>
            <!--Returning the value if the button is hit-->
            <input type="text" name="title" value="<%= searchOptions.title %>">
        </div>
    </div>
    <div class="form-row">
        <div class="form-item">
            <label>Published After</label>
            <input type="date" name="publishedAfter" value="<%= searchOptions.publishedAfter %>">
        </div>
        <div class="form-item">
            <label>Published Before</label>
            <input type="date" name="publishedBefore" value="<%= searchOptions.publishedBefore %>">
        </div>
    </div>
    <div class="form-row form-row-end btn-row">
        <button class="btn btn-primary" type="submit">Search</button>
    </div>
</form>
<!--executing an JS script-->
<!--showing search results-->
<div>
    <%- include('../partials/bookGrid', {books: books, large:true}) %> 
</div>
