<h2 class="page-header">New Author</h2>
<!--including file types = multipart/form-data-->
<form action="/books" method="POST">
    <!--include form_field-->
    <%- include('_form_fields.ejs') %> 
    <a href="/books">Cancel</a>
    <button type="submit">Create</button>    
</form>
