<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mybrary</title>
</head>
<body>
    <!--include header from partials-->
    <%- include('../partials/header.ejs') %> 
    <!--include errorMessage from partials-->
    <%- include('../partials/errorMessage.ejs') %> 
    <!--Everything that is rendered is shown in the body tag-->
    <%- body %> 
</body>
</html>