<div class="form-row">
    <div class="form-item">
        <label>Name</label>
        <!--setting the name of author-->
        <input value="<%= author.name %>" type="text" name="name">
    </div>
</div>
